@import '~antd/es/style/themes/default.less';


.content  {
  padding: 32px 24px;
  margin: 0 auto;
  width: 1200px;

  .tablewrapper {
    background-color: #ffffff;
  }
  
  .card {
    margin-bottom: 24px;
  
    .toolbar {
      padding-bottom: 24px;
    }
    
    .input {
      width: 260px;
  
      :global {
        .ant-input-search-icon::before {
            border-left: none;
        }
      }
    }
  }
}

